---
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{title}</title>
        <link rel="stylesheet" href="/src/styles/global.css">
    </head>

    <body class="font-sans p-8">
        <header class="mb-8 border-b pb-4 flex justify-between items-center">
            <h1 class="text-3xl font-bold">Pasha's blog</h1>
            <nav>
                <a href="/" class="mr-4 text-blue-600 hover:text-blue-800">Posts</a>
                <a href="/about" class="text-blue-600 hover:text-blue-800">About</a>
            </nav>
        </header>
        <main>
            <slot />
        </main>
    </body>
</html>
